<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Module"/>

<f:section name="Content">
    <div class="ctype_manager-be-module">
        <div class="container">
            <div class="row">
                <f:variable name="header" value="{f:translate(key:'LLL:EXT:ctype_manager/Resources/Private/Language/locallang_mod.xlf:section.overview')}" />
                <h1><f:translate key="LLL:EXT:ctype_manager/Resources/Private/Language/locallang_mod.xlf:section.header" arguments="{0:header}" /></h1>

                <f:if condition="{pages}">
                    <f:then>
                        <p><f:translate key="LLL:EXT:ctype_manager/Resources/Private/Language/locallang_mod.xlf:overview.bodytext" /></p>

                        <table id="ctype-manager-list" class="table table-striped table-hover table-valign-top mt-3">
                            <thead>
                            <tr>
                                <th><f:translate key="LLL:EXT:ctype_manager/Resources/Private/Language/locallang_mod.xlf:overview.table.head.page" /></th>
                                <th><f:translate key="LLL:EXT:ctype_manager/Resources/Private/Language/locallang_mod.xlf:overview.table.head.ctypes" /></th>
                                <th colspan="2"><f:translate key="LLL:EXT:ctype_manager/Resources/Private/Language/locallang_mod.xlf:overview.table.head.listTypes" /></th>
                            </tr>
                            </thead>
                            <tbody>
                                <f:for each="{pages}" as="page">
                                    <tr>
                                        <td>
                                            <span aria-hidden="true">
                                                <f:if condition="{page.is_siteroot}">
                                                    <f:then>
                                                        <core:icon identifier="apps-pagetree-folder-root" size="small" />
                                                    </f:then>
                                                    <f:else>
                                                        <core:icon identifier="apps-pagetree-page-default" size="small" />
                                                    </f:else>
                                                </f:if>
                                            </span>

                                            {page.title} [{page.uid}]
                                        </td>
                                        <td>
                                            <f:switch expression="{page.allowedCTypes}">
                                                <f:case value="none">
                                                    <f:translate key="LLL:EXT:ctype_manager/Resources/Private/Language/locallang_mod.xlf:overview.none" />
                                                </f:case>
                                                <f:defaultCase>
                                                    <ul>
                                                        <f:for each="{page.allowedCTypes}" as="ctype">
                                                            <li>{ctype}</li>
                                                        </f:for>
                                                    </ul>
                                                </f:defaultCase>
                                            </f:switch>
                                        </td>
                                        <td>
                                            <f:if condition="{page.allowedCTypes.list}">
                                                <f:switch expression="{page.allowedListTypes}">
                                                    <f:case value="none">
                                                        <f:translate key="LLL:EXT:ctype_manager/Resources/Private/Language/locallang_mod.xlf:overview.none" />
                                                    </f:case>
                                                    <f:defaultCase>
                                                        <ul>
                                                            <f:for each="{page.allowedListTypes}" as="listType">
                                                                <li>{listType}</li>
                                                            </f:for>
                                                        </ul>
                                                    </f:defaultCase>
                                                </f:switch>
                                            </f:if>
                                        </td>
                                        <td>
                                            <div class="btn-group" role="group">
                                                <f:variable name="ariaLabelEdit" value="{f:translate(key:'LLL:EXT:ctype_manager/Resources/Private/Language/locallang_mod.xlf:overview.toolbar.edit.label', arguments:{0:page.title})}" />
                                                <f:link.action action="index" controller="Configuration" extensionName="CtypeManager" class="btn btn-default" additionalAttributes="{aria-label:ariaLabelEdit}" arguments="{pageUid: page.uid, sourceController: 'Overview'}" title="{f:translate(key:'LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:edit')}">
                                                    <core:icon identifier="actions-open" size="small" />
                                                </f:link.action>

                                                <f:variable name="ariaLabelDelete" value="{f:translate(key:'LLL:EXT:ctype_manager/Resources/Private/Language/locallang_mod.xlf:overview.toolbar.delete.label', arguments:{0:page.title})}" />
                                                <f:link.action action="approval" controller="Cleanup" extensionName="CtypeManager" class="btn btn-default" additionalAttributes="{aria-label:ariaLabelDelete}" title="{f:translate(key:'LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:delete')}" arguments="{pageUid: page.uid, sourceController: 'Overview', 'cleanupMode': 'page'}">
                                                    <core:icon identifier="actions-delete" size="small" />
                                                </f:link.action>
                                            </div>
                                        </td>
                                    </tr>
                                </f:for>
                            </tbody>
                        </table>
                    </f:then>
                    <f:else>
                        <p><f:translate key="LLL:EXT:ctype_manager/Resources/Private/Language/locallang_mod.xlf:overview.bodytext.noPages" /></p>
                    </f:else>
                </f:if>
            </div>
        </div>
    </div>
</f:section>

</html>
