.border {
     &__left {
          border-left: $borderSize $borderStyle $borderColor;
     }
     
     &__right {
          border-right: $borderSize $borderStyle $borderColor;
     }
     
     &__top {
          border-top: $borderSize $borderStyle $borderColor;
     }
     
     &__bottom {
          border-bottom: $borderSize $borderStyle $borderColor;
     }
     
     &__all {
          border: $borderSize $borderStyle $borderColor;
     }
}