<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Module"/>

<f:section name="Content">
    <div class="ctype_manager-be-module">
        <div class="container">
            <div class="row">
                <h1><f:translate key="LLL:EXT:ctype_manager/Resources/Private/Language/locallang_mod.xlf:cleanup.approval.headline" /></h1>
                <p><f:translate key="LLL:EXT:ctype_manager/Resources/Private/Language/locallang_mod.xlf:cleanup.approval.bodytext" /></p>

                <f:form id="ctype-cleanup" action="cleanup" controller="Cleanup" method="post" enctype="multipart/form-data">
                    <f:form.hidden name="pageUid" value="{page.uid}"/>
                    <f:form.hidden name="cleanupMode" value="{cleanupMode}"/>
                    <f:form.hidden name="sourceController" value="{sourceController}"/>

                    <div class="card-container mt-3">
                        <div class="card card--danger">
                            <div class="card-header">
                                <div>
                                    <f:translate key="LLL:EXT:ctype_manager/Resources/Private/Language/locallang_mod.xlf:cleanup.mode.label" />
                                </div>
                                <div class="selected-value mt-2">
                                    <f:switch expression="{cleanupMode}">
                                        <f:case value="page">
                                            <f:translate key="LLL:EXT:ctype_manager/Resources/Private/Language/locallang_mod.xlf:cleanup.mode.page" arguments="{0:page.title, 1:page.uid}"/>
                                        </f:case>
                                        <f:defaultCase>
                                            <f:translate key="LLL:EXT:ctype_manager/Resources/Private/Language/locallang_mod.xlf:cleanup.mode.{cleanupMode}" />
                                        </f:defaultCase>
                                    </f:switch>
                                </div>
                            </div>

                            <div class="card-body">
                                <f:form.button class="btn btn--danger"><core:icon identifier="actions-exclamation-triangle-alt" size="small" /><f:translate key="LLL:EXT:ctype_manager/Resources/Private/Language/locallang_mod.xlf:cleanup.approval.submit" /></f:form.button>

                                <f:link.action action="index" controller="{sourceController}" class="btn btn-default"><f:translate key="LLL:EXT:ctype_manager/Resources/Private/Language/locallang_mod.xlf:cleanup.approval.abort" /></f:link.action>
                            </div>
                        </div>
                    </div>

                </f:form>
            </div>
        </div>
    </div>
</f:section>

</html>
