<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Content">
    <div class="ctype_manager-be-module">
        <div class="container">
            <div class="row">
                <f:variable name="header" value="{f:translate(key:'LLL:EXT:ctype_manager/Resources/Private/Language/locallang_mod.xlf:section.cleanup')}" />
                <h1><f:translate key="LLL:EXT:ctype_manager/Resources/Private/Language/locallang_mod.xlf:section.header" arguments="{0:header}" /></h1>
                <p><f:translate key="LLL:EXT:ctype_manager/Resources/Private/Language/locallang_mod.xlf:cleanup.bodytext" /></p>

                <f:form id="ctype-cleanup" action="approval" controller="Cleanup" method="post" enctype="multipart/form-data">
                    <f:form.hidden name="pageUid" value="{page.uid}"/>

                    <div class="card-container mt-3">
                        <div class="card card--danger">
                            <div class="card-header">
                                <label for="cleanupMode" class="form-label"><f:translate key="LLL:EXT:ctype_manager/Resources/Private/Language/locallang_mod.xlf:cleanup.mode.label" /></label>
                                <f:form.select id="cleanupMode" class="form-select mt-2" name="cleanupMode">
                                    <f:form.select.option value="page"><f:translate key="LLL:EXT:ctype_manager/Resources/Private/Language/locallang_mod.xlf:cleanup.mode.page" arguments="{0:page.title, 1:page.uid}"/></f:form.select.option>
                                    <f:form.select.option value="rootline"><f:translate key="LLL:EXT:ctype_manager/Resources/Private/Language/locallang_mod.xlf:cleanup.mode.rootline" /></f:form.select.option>
                                    <f:form.select.option value="rootpage"><f:translate key="LLL:EXT:ctype_manager/Resources/Private/Language/locallang_mod.xlf:cleanup.mode.rootpage" /></f:form.select.option>
                                    <f:form.select.option value="all"><f:translate key="LLL:EXT:ctype_manager/Resources/Private/Language/locallang_mod.xlf:cleanup.mode.all" /></f:form.select.option>
                                </f:form.select>
                            </div>

                            <div class="card-body">
                                <f:form.button class="btn btn--danger"><core:icon identifier="actions-exclamation-triangle-alt" size="small" /><f:translate key="LLL:EXT:ctype_manager/Resources/Private/Language/locallang_mod.xlf:cleanup.submit" /></f:form.button>
                            </div>
                        </div>
                    </div>

                </f:form>
            </div>
        </div>
    </div>
</f:section>

</html>