<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Content">
    <div class="ctype_manager-be-module">
        <div class="container">
            <div class="row">
                
                <f:if condition="{page.title}">
                    <f:then>
                        <f:variable name="header" value="{f:translate(key:'LLL:EXT:ctype_manager/Resources/Private/Language/locallang_mod.xlf:section.index',arguments:{0:page.title})}" />
                        <f:variable name="header" value="{f:translate(key:'LLL:EXT:ctype_manager/Resources/Private/Language/locallang_mod.xlf:section.header',arguments:{0:header})}" />
                    </f:then>
                    <f:else>
                        <f:variable name="header" value="{f:translate(key:'LLL:EXT:ctype_manager/Resources/Private/Language/locallang_mod.xlf:mlang_tabs_tab')}" />
                    </f:else>
                </f:if>

                <h1>{header}</h1>
                <p><f:translate key="LLL:EXT:ctype_manager/Resources/Private/Language/locallang_mod.xlf:index.bodytext" /></p>

                <f:if condition="{ctypes}">
                    <f:then>
                        <f:form id="ctype-form" action="submit" controller="Ctype" method="post" enctype="multipart/form-data">
                            <f:form.hidden name="pageUid" value="{page.uid}"/>
                            <f:variable name="toggleAriaLabel"><f:translate key="LLL:EXT:ctype_manager/Resources/Private/Language/locallang_mod.xlf:index.switch.all" /></f:variable>
                            <f:variable name="toggleLabel"><f:translate key="LLL:EXT:ctype_manager/Resources/Private/Language/locallang_mod.xlf:index.switch.label" /></f:variable>
                            <f:render partial="Switch" arguments="{state:groupsState,label:toggleLabel,ariaLabel:toggleAriaLabel,target:'js-ctype'}"/>
                            <div class="card-container">
                                <f:for each="{ctypes}" key="group" as="groupConfiguration" iteration="iterator">
                                    <f:render partial="Group" arguments="{_all}"/>
                                </f:for>
                            </div>
                        </f:form>
        
                        <div>
                            <f:form.button form="ctype-form" class="btn btn-primary"><f:translate key="LLL:EXT:ctype_manager/Resources/Private/Language/locallang_mod.xlf:index.button.submit"/></f:form.button>
                        </div>
                    </f:then>
                    <f:else>
                        <div class="alert alert-warning mt-3" role="alert">
                            <f:translate key="LLL:EXT:ctype_manager/Resources/Private/Language/locallang_mod.xlf:index.nopage" />
                        </div>
                    </f:else>
                </f:if>
            </div>
        </div>
    </div>
</f:section>

</html>