<div class="card card-size-fixed-small">
    <div class="card-header">
        <div class="card-title">
            <f:if condition="{groupConfiguration.label}">
                <f:then>
                    {groupConfiguration.label}
                </f:then>
                <f:else>
                    <f:format.case value="{group}" mode="capital"/>
                </f:else>
            </f:if>
        </div>
    </div>

    <div class="card-body">
        <f:for each="{groupConfiguration.ctypes}" key="identifier" as="ctypeConfiguration">

            <div class="form-check form-switch d-flex flex-row justify-content-start align-items-start flex-wrap">

                <f:if condition="{ctypeConfiguration.active}">
                    <f:then>
                        <f:form.checkbox id="ctype-manager-{identifier}" name="ctypes[]" class="form-check-input" value="{identifier}" additionalAttributes="{checked:'checked'}" />
                    </f:then>
                    <f:else>
                        <f:form.checkbox id="ctype-manager-{identifier}" name="ctypes[]" class="form-check-input" value="{identifier}" />
                    </f:else>
                </f:if>

                <label class="form-check-label" for="ctype-manager-{identifier}" style="width: 100%;">
                    <span class="form-check-label-text px-3">{ctypeConfiguration.label}</span>
                </label>
            </div>
        </f:for>
    </div>
</div>