<f:if condition="{groupConfiguration.label}">
    <f:then>
        <f:variable name="groupLabel" value="{groupConfiguration.label}" />
    </f:then>
    <f:else>
        <f:variable name="groupLabel" value="{f:format.case(value:group,mode:'cspital')}" />
    </f:else>
</f:if>

<div class="card card-size-fixed-small">
    <div class="card-header">
        <div class="card-title">{groupLabel}</div>
    </div>

    <div class="card-body">
        <f:variable name="toggleAriaLabel"><f:translate key="LLL:EXT:ctype_manager/Resources/Private/Language/locallang_mod.xlf:index.switch.group" arguments="{0:groupLabel}"/></f:variable>
        <f:variable name="toggleLabel"><f:translate key="LLL:EXT:ctype_manager/Resources/Private/Language/locallang_mod.xlf:index.switch.label" /></f:variable>
        <f:render partial="Switch" arguments="{state:groupConfiguration.state,label:toggleLabel,ariaLabel:toggleAriaLabel,target:'js-group-{group}'}"/>
        <f:for each="{groupConfiguration.ctypes}" key="identifier" as="ctypeConfiguration">

            <div class="form-check form-switch d-flex flex-row justify-content-start align-items-start flex-wrap">
                <f:if condition="{ctypeConfiguration.active}">
                    <f:then>
                        <f:form.checkbox id="ctype-manager-{identifier}" name="ctypes[]" class="form-check-input js-ctype js-group-{group}" value="{identifier}" additionalAttributes="{checked:'checked', onclick:'TYPO3.CtypeManager.update()'}" />
                    </f:then>
                    <f:else>
                        <f:form.checkbox id="ctype-manager-{identifier}" name="ctypes[]" class="form-check-input js-ctype js-group-{group}" value="{identifier}" additionalAttributes="{onclick:'TYPO3.CtypeManager.update()'}" />
                    </f:else>
                </f:if>

                <label class="form-check-label" for="ctype-manager-{identifier}" style="width: 100%;">
                    <span class="form-check-label-text px-3">{ctypeConfiguration.label}</span>
                </label>
            </div>

            <f:if condition="{identifier} == 'list' && {listTypes}">
                <div class="list-type-container mx-2 border__left">

                    <h2><f:translate key="LLL:EXT:ctype_manager/Resources/Private/Language/locallang_mod.xlf:index.listTypes.headline" /></h2>
                    <div>@SeppTodo : JavaScript hide/show based on ctype</div>

                    <f:for each="{listTypes}" key="listTypeIdentifier" as="listTypeConfiguration">
                        <div class="form-check form-switch d-flex flex-row justify-content-start align-items-start flex-wrap">
                            <f:if condition="{listTypeConfiguration.active}">
                                <f:then>
                                    <f:form.checkbox id="ctype-manager-listtype-{listTypeIdentifier}" name="listTypes[]" class="form-check-input" value="{listTypeIdentifier}" additionalAttributes="{checked:'checked'}" />
                                </f:then>
                                <f:else>
                                    <f:form.checkbox id="ctype-manager-listtype-{listTypeIdentifier}" name="listTypes[]" class="form-check-input" value="{listTypeIdentifier}" />
                                </f:else>
                            </f:if>

                            <label class="form-check-label" for="ctype-manager-listtype-{listTypeIdentifier}" style="width: 100%;">
                                <span class="form-check-label-text px-3">{listTypeConfiguration.label}</span>
                            </label>
                        </div>
                    </f:for>
                </div>
            </f:if>
        </f:for>
    </div>
</div>