.list-types { padding: 12px 0 12px 46px; }
.list-types__header { font-size: 15px; }

.selected-value { padding: 0.375rem 2.25rem 0.375rem 0.75rem; font-size: .75rem; font-weight: 400; line-height: 1.5; color: #333333; background-color: #fefefe; border: 1px solid #bbb; border-radius: 0.125rem; }

.btn--danger { background-color: #B30C1C; color: white; }
.btn--danger .icon { margin-right: 10px; }
.btn--danger:hover, .btn--danger:focus { background-color: white; border-color: #B30C1C; color: #B30C1C; }
.btn--switch { display: flex; flex-direction: row; justify-content: flex-start; align-items: center; background: none; border: none; margin: 0; padding: 0; border-radius: 0; color: #454f54; font-weight: bold; }
.btn--switch .visual { display: inline-block; width: 2.5em; height: 16px; background-color: white; background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23454f54'/%3e%3c/svg%3e"); background-position: left center; background-repeat: no-repeat; background-size: contain; transition: background-position .15s ease-in-out; border: 1px solid #454f54; border-radius: 2.5em; }
.btn--switch.on .visual { background-color: #454f54; background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e"); background-position: right center; }

.card--danger { border-color: #B30C1C; }

.card-title--danger { color: #B30C1C; }

.table-valign-top > thead > tr > td, .table-valign-top > tbody > tr > td, .table-valign-top > tfoot > tr > td { vertical-align: top; }
.table-valign-middle > thead > tr > td, .table-valign-middle > tbody > tr > td, .table-valign-middle > tfoot > tr > td { vertical-align: middle; }
.table-valign-bottom > thead > tr > td, .table-valign-bottom > tbody > tr > td, .table-valign-bottom > tfoot > tr > td { vertical-align: bottom; }
