<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">

<be:moduleLayout>

    <be:moduleLayout.menu identifier="CTypeManager">
        <f:debug title="Debug">{_all}</f:debug>
        <be:moduleLayout.menuItem label="{f:translate(key: 'LLL:EXT:ctype_manager/Resources/Private/Language/locallang_mod.xlf:mlang_tabs_tab')}" uri="{f:uri.action(controller: 'Ctype', action: 'index')}" />
        <be:moduleLayout.menuItem label="{f:translate(key: 'LLL:EXT:ctype_manager/Resources/Private/Language/locallang_mod.xlf:overview.navigation')}" uri="{f:uri.action(controller: 'Overview', action: 'index')}" />
        <be:moduleLayout.menuItem label="{f:translate(key: 'LLL:EXT:ctype_manager/Resources/Private/Language/locallang_mod.xlf:cleanup.navigation')}" uri="{f:uri.action(controller: 'Cleanup', action: 'index')}" />
    </be:moduleLayout.menu>

    <f:flashMessages />
    <f:be.pageRenderer includeRequireJsModules="{0:'TYPO3/CMS/CtypeManager/CtypeManager'}" />
    <f:render section="Content"/>
</be:moduleLayout>

</html>